div.card-item{
    width: 270px;
    min-height: 300px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;


    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}


.item-card {
    font-size: 15px;
    font-weight: 600;
}

.titulo {
    font-weight: 700;
    font-size: 20px;
    opacity: .9;
}

div.card-item > div.imagem > img {
    width: 270px;
}